<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

 

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="@Url.Content("~/Content/AbajuTemplate/")css/font-awesome.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/AbajuTemplate/")css/bootstrap.min.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/AbajuTemplate/")css/animate.min.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/AbajuTemplate/")css/owl.carousel.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/AbajuTemplate/")css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="@Url.Content("~/Content/AbajuTemplate/")css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="@Url.Content("~/Content/AbajuTemplate/")css/custom.css" rel="stylesheet">

    <script src="@Url.Content("~/Content/AbajuTemplate/")js/respond.min.js"></script>

    <link rel="shortcut icon" href="@Url.Content("~/Content/AbajuTemplate/")favicon.png">
</head>
<body>


    <div>
        @RenderBody()
    </div>

</body>
</html>
